
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css"/>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
</head>
<body>
    <div style="width:90%; margin:0 auto"> 
        <table id="myCSVDataTable">
            <thead>
                <tr>
                    <th>Asset</th>
                    <th>Country</th>
                    @*<th>Mime Type</th>*@
                </tr>
            </thead>
        </table>
    </div>

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script>
        $(document).ready(function () {
            var oTable = $('#myCSVDataTable').DataTable({
                "ajax": {
                    "url": '/home/GetAssets',
                    "type": "get",
                    "datatype" :"json"
                },
                "columns": [
                    { "data": "Asset", "autoWidth": true },
                    { "data": "Country", "autoWidth": true },
                    //{ "data": "MimeType", "autoWidth": true }
                ]
            })
        })
    </script>
</body>
</html>
